<div class="container">


  
    <div class="row" >
        <div class="col-4"></div>
        <div class="col-4">
            <h1>User Login</h1>
        <form>
            <div class="mb-3">
              <label for="kk" class="form-label"
                >Account Number</label
              >
              <input
                type="text"
                class="form-control"
                id="accn"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="pssw"
              />
            </div>
            <div class="mb-3">
              <label for="amt" class="form-label"
                >Amount </label
              >
              <input
                type="text"
                class="form-control"
                id="amdd"
                aria-describedby="emailHelp"
                
              />
            </div>
            <!-- <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Account balence</label>
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div> -->
      
            <button type="submit" class="btn btn-primary" onclick="Bank.Deposit()">Deposit</button>
            <button type="submit" class="btn btn-primary" onclick="Bank.Withdraw()">Withdrawel</button>
          </form>
    </div>
        </div>
        <div class="col-4"></div>
        
</div>
