<form (ngSubmit)="register()">
  <div class="container">
    <h1>SIGN UP ON FEDARAL BANK</h1>

    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        [(ngModel)]="uname"
        name="usrename"
        class="form-control"
        id="acno"
      />
    </div>

    <div class="mb-3">
      <label for="accountnumber" class="form-label">Account number</label>
      <input
        type="text"
        [(ngModel)]="accno"
        name="account number"
        class="form-control"
        id="acno"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        [(ngModel)]="pswd"
        name="password"
        class="form-control"
        id="pwd"
      />
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" />
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
      <a href="">sign up</a>
    </div>
    <button type="submit" class="btn btn-primary">SUBMIT</button>
  </div>
</form>
